body {

}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sectiondiv {
    float: left; width: auto;

}
aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#bars {
    margin: 15px;
}
#logo {
    margin-left: 15px;
    margin-right: 150px;
    width: 130px;
    height: 40px;
}
#search {
    height: 25px;
    font-size: 18px;
    width: 500px;
}
#loop {
    height: 33px;
    width: 80px;
    margin: -2px;
    margin-right: 300px;
}
#img1 {
    height: 20px;
    width: 20px;
}
.img {
    width: 20px;
    height: 20px;
}
#upload {
    margin-right: 50px ;
}

#profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 20px;

}
#video {
    margin: 30px 0 0 25px;
}
#bell {

  margin-left: 0px;
  margin-right: 40px;
}
#black_square {
  margin-right: 40px;
}
.info {
    border-bottom: 2px solid black;
}
#p1 {
    float: left;
    margin-left: 30px;
}
#p2 {
    float: right;
    opacity: 60%;
}
#p2 a {
    text-decoration: none;
    color: #444444;
}
