body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}
nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 100vw;
    margin-top: -10px;
    background-color: white;
    margin-bottom: 50px;
}
#main {
    padding-top: 80px;
}
.left-div{
  float: left;
  margin-right: 20px;

}
.right-div{
    float: right;
    margin-left: 20px;
}
#up-next {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgb(201, 198, 198);
}
.thumb {
    margin: 10px auto auto 10px;
}
/*
.right-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}*/
#bars {
    margin: 15px;
}
#logo {
    margin-left: 15px;
    margin-right: 150px;
    width: 130px;
    height: 40px;
}
#search {
    height: 25px;
    font-size: 18px;
    width: 500px;
}
#loop {
    height: 33px;
    width: 80px;
    margin: -2px;
    margin-right: 300px;
}
#img1 {
    height: 20px;
    width: 20px;
}
.img {
    width: 20px;
    height: 20px;
}
#upload {
    margin-right: 50px ;
}

#profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 40px;

}/*
#video {
    margin: 30px 0 0 25px;
}*/
.video-info {
    width: 100%;
}
#bell {
  margin-left: 0px;
  margin-right: 40px;
}
#black_square {
  margin-right: 40px;
}
#p1 {
    float: left;
    margin-left: 5px;
}
#center {
    float: center;
}
#p2 {
    float: right;
    opacity: 60%;
    width: 680px;
}
#p2 a {
    text-decoration: none;
    color: #444444;
}
#p2 p {
    text-align: end;
}
#channel-info {
    display: flex;
    margin: 50px auto auto 5px;
    width: 950px;
    border-top: 1px solid rgb(158, 153, 153);
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
}
#text {
    font-size: 16px;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 60px;
    border-bottom: 1px solid rgb(158, 153, 153);
}
#text a {
    text-decoration: none;
    color: gray;
}
#comments {
    font-size: 16px;
    border-bottom: 1px solid rgb(158, 153, 153);
}
#gif {
    padding-left: 50%;
    padding-top: 7%;
    padding-bottom: 7%;
}
#button {
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-left: 680px;
    width: 90px;
    height: 40px;
}
#button p {
    color: white;
}
#mic-logo {
    border-radius: 50%;
}
#subscribe {
    float: right;
    margin-top: 15px;
}
#subscribe img {
    width: 100px;
    height: 50px;
}
